.ingredient {
    max-width: 272px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}

.currency {
    flex-direction: row;
    break-inside: avoid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    text-decoration: none;
    color: #f2f2f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}