.panel {
    padding: 16px 0;

    width: 100vw;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    justify-content: center;
    gap: 16px;
}


.linkBlock {
    padding: 16px 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:   white; /* #8585ad; */
    text-decoration: none;
}


.linkBlock p {
    white-space: nowrap;
}

.logo {
    padding: 8px 0;
    justify-self: center;
}

.col {
    padding-left: 10vw;
    display: flex;
    justify-content: center;
}

.colLogo {
    display: flex;
    justify-content: center;
}

.colRight {
    padding-right: 10vw;
    display: flex;
    justify-content: flex-end;
}


